.page.container.albums
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: green;

  overflow-x: hidden;
  overflow-y: hidden;

  width: 52%;
  height: 100%;
}

.page.container.albums:hover
{
  overflow-y: overlay;
}

.page.child.albums
{
  min-width: 115px;
  width: 28%;

  margin: 0px 2.5%;
  margin-top: 5%;
}

.page.child.albums::before
{
  content: "";
  display: block;

  background-color: orange;
  
  width: 100%;
  padding-bottom: 152.5%;
}