.pageItem.albums.wrapper
{
  position: relative;

  top: 11px;
  min-width: 115px;
  max-height: fit-content;
  width: calc(14vw + 2vh);

  overflow: hidden;
  margin: 1.5%;
}

.pageItem.albums.wrapper:before
{
  content: "";
  display: block;

  width: 100%;
  padding-bottom: 150%;
}

.pageItem.albums.container
{
  position: absolute;

  top: 0;
  height: 100%;
  width: 100%;
}

.pageItem.albums.cover
{
  width: 100%;
  height: 79%;

  background-size: cover;
  background-position: center;
}

.pageItem.albums.card
{
  display: flex;

  align-items: stretch;
  flex-wrap: wrap;

  white-space: pre;
  user-select: none;

  background-color: white;

  width: 90%;
  height: 21%;

  padding: 0px 8%;

  font-family: Lato, sans-serif;
  font-size: calc(3px + 0.3vw + 0.35vh);
  font-weight: 400;
}

.pageItem.albums.title
{
  display: flex;
  align-items: flex-end;
  
  width: 100%;

  font-size: calc(5px + 0.5vw + 0.45vh);
  font-weight: 700;
}

.pageItem.albums.artist
{
  color: var(--color-3);
}