html
{
  --color-1: #A55050;
  --color-2: #553737;
  --color-3: #97893C;

  --color-4: white;
  --color-5: black;
  --color-6: rgba(255, 255, 255, 0.25);
}

body
{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "menu" "page" "controlBar";
  
  overflow: hidden;
  
  background-color: var(--color-1);

  width: 100vw;
  height: 100vh;

  margin: 2.8vh 0px;
  padding: 0;
}

.noMotion *
{
  transition: none !important;
}

.design
{
  position: absolute;
  
  left: 0;
  top: 0;

  opacity: 0.85;
}

.page.wrapper
{
  grid-area: page;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-color: blue;

  width: 100%;
  height: auto;
}