html
{
  --color-1: #A55050;
  --color-2: #553737;
  --color-3: #97893C;

  --color-4: white;
  --color-5: black;
  --color-6: #806969;
  --color-7: #7FFFD4;
  --color-8: #964141;

  --color-9: #E6E6E6;
  --color-10: palevioletred;
  --color-11: #5D4037;
  --color-12: #4C3731;
  --color-13: #101010;
  --color-14: #381E28;
  --color-15: #DCD0D0;

  --holder-1: rgba(0, 0, 0, 0.5);
  --holder-2: rgba(255, 255, 255, 0.5);
  --holder-3: #336947;
  --holder-4: #6F3131;
}

body
{
  display: grid;

  grid-template-rows: auto 60vh 1fr;
  grid-template-columns: 100vw;
  grid-template-areas: "menu" "pages" "controlBar";

  width: 100vw;
  height: 100vh;

  overflow: hidden;
  margin: 0;
  padding: 0;
}

.fastforward *
{
  transition: none !important;
}

.design
{
  position: absolute;

  left: 0;
  top: 0;

  opacity: 0.85;
}

.icon
{
  pointer-events: none;

  width: 100%;
  height: 100%;
}

.icon
{
  fill: var(--color-4);
  stroke: var(--color-4);
}

.pages.container
{
  grid-area: pages;
  position: relative;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100vw 100vw 100vw;
  grid-template-areas: "playing local options";

  top: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  transition-property: top, height;
  transition-duration: 0.125s;
  transition-timing-function: ease-in;
}

.page.container
{
  min-width: 0;
  min-height: 0;
  width: 80%;
  height: 100%;
  padding: 0 10%;

  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.playing.background
{
  z-index: -2;
  position: absolute;

  background-color: var(--color-14);
  background-image: url(../../../missing.png);
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 100%;

  filter: blur(5px);
  transform: scale(1.05);

  pointer-events: none;
}

.pages.background
{
  z-index: -2;
  position: absolute;

  background-color: var(--color-10);

  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;

  transition-property: left;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.controlBar.container.extended ~ div ~ div ~ .pages.background
{
  left: 100%;
}

.page.playing
{
  grid-area: playing;
}

.page.local
{
  grid-area: local;
}

.page.options
{
  grid-area: options;
}

.page.extended.local
{
  display: grid;

  grid-template-rows: 100% 100% 100%;
  grid-template-columns: 100%;
  grid-template-areas: "." "." ".";

  width: 100%;
  height: 100%;

  overflow: hidden;
}

@keyframes placeholder-animation
{
  from
  {
    background-color: var(--color-9);
  }

  to
  {
    background-color: var(--color-15);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar
{
  background: transparent;

  min-width: 8px;
  width: 0.5vw;
}

::-webkit-scrollbar-thumb
{
  background: var(--color-4);
}
