
.seekBar.played
{
  align-self: flex-start;

  background-color: var(--color-6);

  width: 10%;
  height: 5%;
}

.seekBar.remaining
{
  align-self: flex-start;

  background-color: var(--color-4);

  width: 90%;
  height: 5%;
}

.playButton, .previousButton, .nextButton,
.rewindButton, .forwardButton, .shuffleButton,
.repeatButton, .volumeButton
{
  align-self: center;

  position: relative;
  background-color: black;

  width: calc(3.5vw + 5vh);
  height: 70%;
}

.rewindButton, .forwardButton
{
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-end;

  width: 12%;
  height: 60%;
}

.shuffleButton, .repeatButton, .volumeButton
{
  align-self: flex-end;

  width: 8%;
  height: 45%;
}

.previousButton > .icon
{
  transform: rotateZ(180deg);
}

.rewindButton > .icon
{
  transform: scaleX(-1);
}

.playButton
{
  margin-right: calc(1.5vw + 1vh);
}

.rewindTime, .forwardTime
{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  color: var(--color-4);

  width: 30%;
  height: 25%;

  user-select: none;
  
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.playButton > .pause,
.playButton > .play,
.shuffleButton > .shuffle,
.shuffleButton > .linear,
.repeatButton > .loop,
.repeatButton > .repeat,
.repeatButton > .singular
{
  width: 100%;
  height: 100%;
}

.playButton.paused > .pause
{
  display: none;
}

.playButton.playing > .play
{
  display: none;
}

.shuffleButton.shuffled > .linear
{
  display: none;
}

.shuffleButton.normal > .shuffle
{
  display: none;
}

.repeatButton.looping > .repeat, .repeatButton.looping > .singular
{
  display: none;
}

.repeatButton.repeating > .loop, .repeatButton.repeating > .singular
{
  display: none;
}

.repeatButton.once > .repeat, .repeatButton.once > .loop
{
  display: none;
}