.seekBar.container
{
  background: linear-gradient(90deg, var(--color-4) var(--bar-percentage, 0%), rgba(0,0,0,0) 0%, var(--color-6) 0%);

  min-height: 6px;
  max-height: 8px;
  width: 100%;
  height: 7%;

  cursor: pointer;

  /* animation-name: loading-animation;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite; */
}

.volumeBar.container
{
  background: linear-gradient(90deg, var(--color-4) var(--bar-percentage, 0%), rgba(0,0,0,0) 0%, var(--color-6) 0%);
  
  min-width: 60px;
  max-width: 100px;
  min-height: 6px;
  max-height: 8px;
  
  width: calc(10px + 8vw);
  height: 1vh;

  cursor: pointer;
  
  margin: 4px 0;
}

.playButton, .previousButton, .nextButton,
.rewindButton, .skipButton, .shuffleButton,
.repeatButton, .volumeButton
{
  cursor: pointer;

  position: relative;
  align-self: center;

  background-color: transparent;

  width: calc(3.5vw + 5vh);
  height: 70%;

  filter: drop-shadow(0px 0px 0px var(--holder-3));

  transition-property: filter;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.playButton:hover, .previousButton:hover, .nextButton:hover,
.rewindButton:hover, .skipButton:hover, .shuffleButton:hover,
.repeatButton:hover, .volumeButton:hover
{
  filter: drop-shadow(0px 0px 12px var(--holder-3));
}

.playButton:hover > * > .icon > *, .previousButton:hover > .icon > *, .nextButton:hover > .icon > *,
.rewindButton:hover > .icon > *, .skipButton:hover > .icon > *, .shuffleButton:hover > * >.icon > *,
.repeatButton:hover > * > .icon > *, .volumeButton:hover > * .icon > *,
.rewindButton:hover > .rewindTime, .skipButton:hover > .skipTime
{
  fill: var(--color-7);
  stroke: var(--color-7);
  color: var(--color-7);
}

.playButton:active > * > .icon, .nextButton:active > .icon,
.skipButton:active > .icon, .shuffleButton:active > * > .icon,
.repeatButton:active > * > .icon,  .volumeButton:active > * .icon,
.rewindButton:active > .rewindTime, .skipButton:active > .skipTime
{
  transition-property: transform;
  transition-duration: 0.05s;
  transition-timing-function: linear;
  transform: scale(0.85);
}

.previousButton:active > .icon, .rewindButton:active > .icon
{
  transition-property: transform;
  transition-duration: 0.05s;
  transition-timing-function: linear;
  transform: scale(0.85) scaleX(-1);
}

.rewindButton, .skipButton
{
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-end;

  width: 12%;
  height: 60%;
}

.shuffleButton, .repeatButton, .volumeButton
{
  align-self: flex-end;

  width: 8%;
  height: 45%;
}

.previousButton > .icon, .rewindButton > .icon
{
  transform: scaleX(-1);
}

.playButton
{
  margin-right: calc(1.5vw + 1vh);
}

.rewindTime, .skipTime
{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  color: var(--color-4);

  width: 30%;
  height: 25%;

  user-select: none;

  font-family: Montserrat, sans-serif;
  font-size: calc(4px + 0.35vw + 0.5vh);
  font-weight: 700;
}

.playButton > .pause,
.playButton > .play,
.shuffleButton > .shuffle,
.shuffleButton > .linear,
.repeatButton > .loop,
.repeatButton > .repeat,
.repeatButton > .singular,
.volumeButton > .normal,
.volumeButton > .mute
{
  width: 100%;
  height: 100%;
}

.playButton.paused > .pause
{
  display: none;
}

.playButton.playing > .play
{
  display: none;
}

.shuffleButton.shuffled > .linear
{
  display: none;
}

.shuffleButton.normal > .shuffle
{
  display: none;
}

.repeatButton.looping > .repeat, .repeatButton.looping > .singular
{
  display: none;
}

.repeatButton.repeating > .loop, .repeatButton.repeating > .singular
{
  display: none;
}

.repeatButton.once > .repeat, .repeatButton.once > .loop
{
  display: none;
}

.volumeButton.muted > .normal
{
  display: none;
}

.volumeButton:not(.muted) > .mute
{
  display: none;
}

@media screen and (max-width: 800px)
{
  .rewindTime, .skipTime
  {
    font-size: calc(4px + 0.6vw + 0.5vh);
  }
}
