#controlsBar
{
  position: relative;
  background: blue;
  
  left: 18vh;
  top: -18vh;
  width: calc(100vw - 18vh);
  height: 18vh;
}

#playingImageShade
{
  position: relative;
  background: linear-gradient(-90deg, blue 18%, transparent 100%);
  left: -17vh;
  width: 20vh;
  height: 18vh;
}

#playingImage
{
  background: url(../../Dina.jpg);
  background-size: 18vh 18vh;
  background-repeat: no-repeat;
  width: 18vh;
  height: 18vh;
}

#seekBar
{
  position: relative;
  width: 94%;
  height: 3px;
  top: 15px;
  left: 20px;
}

#volumeBar
{
  position: relative;
  width: 10%;
  height: 3px;
  top: 30px;
  left: 20px;
}

.barLeft
{
  background-color: white;
  width: calc(var(--barX) - 5px);
  height: inherit;
}

.barRight
{
  position: absolute;
  background-color: #7A7A80;
  width: calc(100% - (var(--barX) + 5px));
  height: inherit;
  top: 0px;
  left: calc(var(--barX) + 15px + 5px);
}

 .barBall
{
  position: absolute;
  background-color: transparent;
  border: 3px solid white;
  width: 9px;
  height: 9px;
  top: -6px;
  border-radius: 50%;
  left: var(--barX);
}