#expandButton
{
  background-color: transparent;
  width: 100%;
  height: calc(25px + 0.5vh);

  outline-offset: -1px;
  outline: white 1px solid;
}

.expandButton1, .expandButton2, .expandButton3
{
  background-color: red;
  position: relative;
  left: 20%;
  top: 10px;
  width: 60%;
  height: 2px;
}

.expandButton2
{
  top: 12px;
}

.expandButton3
{
  top: 14px;
}