#expandButton
{
  width: 100%;
  height: calc(var(--item-height));

  outline-offset: -1px;
  outline: red 1px solid;
}

#expandButtonHamburger
{
  min-width: var(--min-collapse-width);
  width: var(--collapse-width);

  height: calc(25px + 0.5vh);
}

.expandButton1, .expandButton2, .expandButton3
{
  background-color: red;
  position: relative;
  left: 20%;
  top: 10px;
  width: 60%;
  height: 2px;
}

.expandButton2
{
  top: 12px;
}

.expandButton3
{
  top: 14px;
}