#expandButton
{
  display: flex;

  align-items: center;
  justify-content: flex-start;

  min-height: var(--button-height);

  width: 100%;
  height: auto;

  outline-offset: -1px;
  outline: red 1px solid;
}

#expandButtonHamburger
{
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  min-width: var(--min-collapse-width);
  min-height: var(--hamburger-height);

  width: var(--collapse-width);
  height: auto;

  outline-offset: -1px;
  outline: red 1px solid;
}

.expandButton1, .expandButton2, .expandButton3
{
  background-color: red;
  
  width: 60%;
  height: calc(var(--hamburger-height) / 6);
}