.split
{
  height: 0;
  flex-basis: 100%;
}

.controlBar
{
  position: relative;
  background: blue;
  
  left: 18vh;
  top: -18vh;
  width: calc(100vw - 18vh);
  height: 18vh;
}

.playingImageShade
{
  position: relative;
  background: linear-gradient(-90deg, blue 10%, transparent 95%);
  left: -20vh;
  width: 20vh;
  height: 18vh;
}

.playingImage
{
  background-color: red;
  width: 18vh;
  height: 18vh;
}

.playPause1
{
  box-sizing: border-box;
  width: 30px;
  height: 26px;
  /* border-width: 13px 0px 13px 30px; */
  border-width: 0px 0px 0px 10px;
  border-color: transparent transparent transparent red;
  border-style: solid;

  animation: play1 1s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.playPause2
{
  position: relative;
  box-sizing: border-box;
  width: 30px;
  left: 0px;
  top: -26px;
  /* border-width: 13px 0px 13px 30px; */
  border-width: 13px 0px 13px 30px;
  border-color: transparent green transparent green;
  border-style: solid;

  animation: play2 1s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.playPause3
{
  position: relative;
  box-sizing: content-box;
  width: 0px;
  height: 16px;
  left: 0px;
  top: -52px;
  border-width: 5px 0px 5px 10px;
  /* left: 10px;
  top: -48px; */
  /* border-width: 9px 0px 9px 19px; */
  border-color: transparent transparent transparent yellow;
  border-style: solid;

  animation: play2 1s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes play1
{
  /* 0%
  {
    border-width: 13px 0px 13px 15px;
  }

  100%
  {
    border-width: 0px 0px 0px 10px;
  } */
}

@keyframes play2
{
  100%
  {
    /* border-width: 0px 0px 0px 30px; */
  }
}