.split
{
  height: 0;
  flex-basis: 100%;
}

.controlBar
{
  position: relative;
  background: blue;
  
  left: 18vh;
  top: -18vh;
  width: calc(100vw - 18vh);
  height: 18vh;
}

.playingImageShade
{
  position: relative;
  background: linear-gradient(-90deg, blue 10%, transparent 95%);
  left: -20vh;
  width: 20vh;
  height: 18vh;
}

.playingImage
{
  background-color: red;
  width: 18vh;
  height: 18vh;
}

/* .playPauseIcon1
{

  box-sizing: border-box;
  height: 20px;
  border-width: 13px 0px 13px 30px;
  border-color: purple blue black white;
  border-style: solid;
}

.playPauseIcon2
{
  position: relative;
  left: -30px;
  height: 18px;
  border-width: 4px 0px 4px 10px;
  border-color: purple blue black yellow;
  border-style: solid;
} */

.playPause1
{
  box-sizing: border-box;
  width: 30px;
  height: 26px;
  border-width: 13px 0px 13px 30px;
  border-color: transparent transparent transparent white;
  border-style: solid;

  animation: play1 1s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.playPause2
{
  position: relative;
  box-sizing: border-box;
  width: 30px;
  height: 26px;
  left: 0px;
  top: -26px;
  border-width: 13px 0px 13px 30px;
  border-color: transparent transparent transparent red;
  border-style: solid;

  animation: play2 1s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes play1
{

   /* 80%
  {
    border-color: white white white white;
  }

  100%
  {
    width: 10px;
    border-width: 13px 5px 13px 5px;
    border-color: white white white white;
  } */

 
}

@keyframes play2
{
  0%
  {
    border-width: 13px 0px 13px 10px;
  }

  100%
  {
    border-width: 0px 0px 0px 10px;
  }
}