.menu.container
{
  z-index: 3;
  
  grid-area: menu;
  
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  
  min-height: 48px;
  max-height: 60px;
  width: 100%;
  height: calc(6.85vh + 1.85vw);

  outline: 1px solid black;
  outline-offset: -1px;
}

.menuItem.wrapper
{
  position: relative;
  
  cursor: pointer;

  min-width: 65px;
  max-width: 74px;
  max-height: fit-content;
  width: 5.65vw;

  overflow: hidden;
  margin: 0px 0.6vw;

  transition-property: min-width, width, max-height, height;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.menuItem.wrapper:before
{
  content: "";
  display: block;
  position: sticky;

  background-color: #4e4617;

  top: 0px;
  width: 100%;
  padding-bottom: 60%;

  border-radius: 30% / 50%;

  transition-property: padding-bottom, background-color, border-radius;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.menuItem.container 
{
  position: absolute;
  
  top: 0;
  height: 100%;
  width: 100%;

  pointer-events: none;
}

.menuItem.container > .icon
{
  opacity: 1;

  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/* Selected */

.menuItem.wrapper.selected
{
  z-index: 4;

  min-width: 101px;
  max-width: 115px;
  width: 8.95vw;
}

.menuItem.wrapper.selected:before
{
  background-color: #4e4617;

  padding-bottom: 38%;
  border-radius: 18% / 50%;
}

/* Sub-Menu */

.submenu.container
{
  padding: 0 1.5%;
}

.submenu.button
{
  cursor: pointer;

  padding: 1.5% 0;
}

.submenu.button:hover
{
  color: var(--color-7);
}