.menu
{
  grid-area: menu;

  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;

  outline: 1px solid black;
  outline-offset: -1px;
}

.menuItem.wrapper
{
  margin: 0px 0.6vw;
}

.menuItem.wrapper.expanded
{
  position: relative;

  min-width: 60px;
  max-height: fit-content;
  width: 5.65vw;
}

.menuItem.wrapper.expanded:before
{
  content: "";
  display: block;

  width: 100%;
  padding-bottom: 60%;
}

.menuItem.wrapper.collapsed
{
  position: relative;

  min-width: 45px;
  max-height: fit-content;
  width: 5.25vw;
}

.menuItem.wrapper.collapsed:before
{
  content: "";
  display: block;

  width: 100%;
  padding-bottom: 15%;
}

.menuItem.wrapper.expanded > .menuItem.container 
{
  position: absolute;

  top: 0;
  height: 100%;
  width: 100%;

  border-radius: 30% / 50%;
}

.menuItem.wrapper.collapsed > .menuItem.container 
{
  position: absolute;

  top: 0;
  height: 100%;
  width: 100%;

  border-radius: 10% / 50%;
}

.menuItem.wrapper.selected > .menuItem.container
{
  background-color: #4e4617;
}

.menuItem.wrapper.normal > .menuItem.container
{
  background-color: #4e4617;
}