.options.wrapper
{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.options.wrapper:hover
{
  overflow-y: overlay;
}

.options.container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 50%;
  height: fit-content;
}

.optionsItem
{
  background: var(--queueAndOptions);
  color: var(--whiteText);

  min-width: 315px;
  width: 80%;
  height: max-content;

  user-select: none;

  margin-bottom: 3%;
  border-radius: 6px;

  font-family: Montserrat, sans-serif;

  padding: 3.5%;
}

.option.title
{
  width: 100%;

  font-weight: 700;
  margin-bottom: 2%;
}

.option.applied
{
  display: flex;
  justify-content: flex-end;
}

.option.directory.container
{
  display: grid;

  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: ". .";

  margin-bottom: 2%;
}

.option.buttons
{
  display: flex;
}

.option.applied,
.option.tray.buttons,
input.option.controls
{
  margin-bottom: 9px;
}

.option.button
{
  display: flex;

  flex-grow: 1;
  justify-content: center;

  cursor: pointer;

  font-weight: 900;
  text-transform: uppercase;
}

input.option.controls
{
  width: 100%;

  background-color: transparent;
  color: var(--whiteText);

  outline: none; 
  border: none;

  font-family: Montserrat, sans-serif;
}

.option.tray.button,
.option.podcasts.button,
.option.clean
{
  color: var(--unavailableButtonsAndShadows);
}

.option.button.highlight,
.option.clean
{
  cursor: default;
  pointer-events: none;
}

.option.button.highlight
{
  color: var(--whiteText);

  filter: drop-shadow(0px 0px 8px var(--unavailableButtonsAndShadows));
}

.option.button:not(.highlight):not(.clean):hover
{
  color: var(--highlightedIcons);
}

.option.about.button
{
  margin-top: 5px;
}

.option.button,
.option.localAudio.title,
.option.directory.text
{
  white-space: pre-line;
}

.option.directory.container > .option.text,
.optionsItem.about > .option.text
{
  user-select: text;
  word-break: break-all;
}

@media screen and (max-width: 800px)
{
  .options.container
  {
    width: 100%;
  }
}

/* Font Sizes */

.optionsItem,
input.option.controls
{
  font-size: calc(6px + 0.5vw + 0.5vh);
}

.option.applied
{
  font-size: calc(4px + 0.5vw + 0.4vh);
}

@media screen and (max-width: 600px)
{
  .optionsItem,
  input.option.controls
  {
    font-size:11px;
  }

  .option.applied
  {
    font-size: 9px;
  }
}

@media screen and (min-width: 1020px)
{
  .optionsItem,
  input.option.controls
  {
    font-size: 14px;
  }

  .option.applied
  {
    font-size: 11px;
  }
}
