#playPauseButton
{
  display: flex;
  position: relative;
  
  top: 0px;
  left: 0px;
  width: 55px;
  height: 45px;

  outline: solid 1px white;
  outline-offset: -1px;
}

.playPauseButton1
{
  position: relative;
  box-sizing: content-box;

  left: 16px;
  width: 0px;

  border-color: transparent transparent transparent red;
  border-style: solid;

  transition-property: top, height, border-width;
  transition-duration:  0.6s;
  transition-timing-function: ease;
}

.play1
{
  top: 5px;
  height: 18px;

  border-width: 8px 0px 8px 10px;
}

.pause1
{
  top: 5px;
  height: 34px;
  border-width: 0px 0px 0px 10px; 
}

.playPauseButton2
{
  position: relative;
  box-sizing: border-box;
  width: 30px;
  
  border-color: transparent transparent transparent green;
  border-style: solid;

  transition-property: top, left, height, border-width;
  transition-duration:  0.6s;
  transition-timing-function: ease;
}

.play2
{
  top: 13px;
  left: 16px;
  height: 18px;
  border-width: 9px 0px 9px 15px;
}

.pause2
{
  top: 5px;
  left: 21px;
  height: 34px;
  border-width: 0px 0px 0px 10px; 
}