#playButton
{
  position: relative;
  
  top: 0px;
  left: 0px;
  width: 55px;
  height: 45px;

  background-color: red;
}

.playButton1
{
  position: relative;

  background-color: transparent;

  top: 10px;
  left: 10px;
  width: 0px;
  height: 0px;

  border-style: solid;
  border-width: 14px 0px 0px 28px;
  border-color: transparent transparent transparent white;

  transform-origin: 50% 50% 0;
  transform: rotateZ(0deg);

  transition: 
  transform 0.2s cubic-bezier(0.47, 0, 0.75, 0.72),
  transform-origin 0.2s cubic-bezier(0.47, 0, 0.75, 0.72),
  border-width 0.2s cubic-bezier(0.47, 0, 0.75, 0.72) 0.05s;
}

.playButton2
{
  position: relative;

  background-color: transparent;

  top: 10px;
  left: 10px;
  width: 0px;
  height: 0px;

  border-style: solid;
  border-width: 14px 28px 0px 0px;
  border-color: white transparent transparent transparent;

  transform-origin: 50% 50% 0;
  transform: rotateZ(0deg);

  transition: 
  transform 0.2s cubic-bezier(0.47, 0, 0.75, 0.72),
  transform-origin 0.2s cubic-bezier(0.47, 0, 0.75, 0.72),
  border-width 0.2s cubic-bezier(0.47, 0, 0.75, 0.72) 0.05s;
}

.pauseButton1
{
  background-color: white;

  border-width: 9px 0px 0px 28px;

  transform-origin: 14px 14px 0;
  transform: rotateZ(90deg);
}

.pauseButton2
{
  background-color: white;

  border-width: 9px 28px 0px 0px;

  transform-origin: 11px 2px 0;
  transform: rotateZ(90deg);
}