.podcasts.wrapper
{
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.podcasts.wrapper:hover
{
  overflow-y: overlay;
}

.podcasts.container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
  height: auto;

  margin: 0% 5%;
}

.podcasts.container:empty:after
{
  content: "No podcasts are available.";
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  font-family: Montserrat, sans-serif;

  color: var(--whiteText);
  filter: drop-shadow(0px 0px 12px var(--artistMissingBackgroundAndShadows));
  
  width: 100%;
  height: -webkit-fill-available;
}

.podcast.wrapper
{
  position: relative;

  min-width: 264px;
  max-width: 406px;
  max-height: fit-content;
  width: calc(32vw + 9vh);
  height: auto;

  margin: 1.5%;
}

.podcast.wrapper:before
{
  content: "";
  display: block;

  width: 100%;
  padding-bottom: 40%;
}

.podcast.container
{
  display: flex;
  position: absolute;

  flex-wrap: wrap;

  cursor: pointer;
  overflow: hidden;
  user-select: none;

  border-radius: 5px;

  top: 0;
  height: 100%;
  width: 100%;

  font-family: Montserrat, sans-serif;

  background-color: var(--whiteBackgrounds);
  box-shadow: 0px 0px 0px 0px var(--artistMissingBackgroundAndShadows);

  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcast.wrapper:not(.placeholder).contextHover > .container,
.podcast.wrapper:not(.placeholder):hover > .container
{
  box-shadow: 0px 0px 20px -2px var(--artistMissingBackgroundAndShadows);
}

.podcast.cover
{
  grid-area: cover;
  position: relative;

  background-size: cover;
  background-position: center;

  left: 0;
  width: 40%;
  height: 100%;

  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcast.wrapper:not(.placeholder).contextHover > .container > .cover,
.podcast.wrapper:not(.placeholder):hover > .container > .cover
{
  left: -20%;
}

.podcast.cover:after
{
  content: "";
  display: block;

  background-color: var(--whiteBackgrounds);

  opacity: 0;

  width: 100%;
  height: 100%;

  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcast.wrapper:not(.placeholder).contextHover > .container > .cover:after,
.podcast.wrapper:not(.placeholder):hover > .container > .cover:after
{
  opacity: 0.75;
}

.podcast.artist
{
  grid-area: artist;
  position: relative;

  display: flex;
  align-items: flex-end;

  left: 0;
  width: 45%;
  height: 50%;

  overflow: hidden;
  font-weight: 900;

  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcast.wrapper:not(.placeholder).contextHover > .container > .artist,
.podcast.wrapper:not(.placeholder):hover > .container > .artist
{
  left: -20%;
}

.podcast.title
{
  grid-area: title;
  position: relative;
  
  left: 40%;
  top: -50%;
  width: 45%;
  height: 45%;

  overflow: hidden;

  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcast.wrapper:not(.placeholder).contextHover > .container > .title,
.podcast.wrapper:not(.placeholder):hover > .container > .title
{
  left: 20%;
}

.podcast.artist,
.podcast.title
{
  color: var(--blackText);
  padding: 0 5% 0 10%;
}

.podcast.episodesWrapper
{
  position: absolute;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: var(--whiteBackgrounds);

  left: 100%;
  width: 65%;
  height: auto;
  height: calc(100% - 40px);

  padding: 20px 5% 20px 10%;
  margin: 0;

  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcast.wrapper:not(.placeholder).contextHover > .container > .episodesWrapper,
.podcast.wrapper:not(.placeholder):hover > .container > .episodesWrapper
{
  left: 20%;
}

.podcast.episodeContainer
{
  color: var(--blackText);

  width: 100%;
  height: auto;
}

.podcast.episodeContainer.contextHover,
.podcast.episodeContainer:hover
{
  text-decoration: underline;
}

.podcast.episodeInfo,
.podcast.episodeTitle
{
  flex-basis: 100%;
}

.podcast.episodeTitle
{
  font-weight: 600;
}

/* Content Placeholders */

.podcast.placeholder > .container > .cover,
.podcast.placeholder > .container > .artist,
.podcast.placeholder > .container > .title
{
  background-color: var(--placeholders-1);

  animation-name: placeholder-animation;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.podcast.placeholder > .container > .artist
{
  margin: 22% 29% 0 12%;
}

.podcast.placeholder > .container > .title
{
  margin: 6% 8% 21% 12%
}

.podcast.placeholder > .container
{
  cursor: default;
}

/* Font Sizes */

.podcasts.container:empty:after
{
  font-size: calc(6px + 0.5vw + 0.5vh);
}

.podcast.artist,
.podcast.episode,
.podcast.episodeInfo
{
  font-size: calc(6px + 0.5vw + 0.2vh);
}

.podcast.title,
.podcast.episodeTitle
{
  font-size: calc(7px + 0.5vw + 0.4vh);
}

@media screen and (max-width: 600px)
{
  .podcasts.container:empty:after
  {
    font-size: 9px;
  }

  .podcast.artist,
  .podcast.episode,
  .podcast.episodeInfo
  {
    font-size: 10px;
  }

  .podcast.title,
  .podcast.episodeTitle
  {
    font-size: 11px;
  }
}

@media screen and (min-width: 1020px)
{
  .podcasts.container:empty:after
  {
    font-size: 12px;
  }

  .podcast.artist,
  .podcast.episode,
  .podcast.episodeInfo
  {
    font-size: 13px;
  }

  .podcast.title,
  .podcast.episodeTitle
  {
    font-size: 14px;
  }
}