.podcastCollectionOverlay.wrapper
{
  z-index: 4;
  position: fixed;

  display: flex;
  justify-content: center;

  background-color: transparent;

  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  overflow-x: hidden;
  overflow-y: overlay;

  transition-property: top;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcastCollectionOverlay.wrapper.active
{
  top: 0;
}

.podcastCollectionOverlay.container
{
  display: grid;

  grid-template-areas:
  ". file hide"
  "search search search"
  "collection collection collection";
  grid-template-columns: 1fr auto auto;

  cursor: default;

  background-color: var(--queue-and-options-background);

  min-width: 245px;
  max-width: 335px;
  width: calc(38vw - 5%);
  height: fit-content;

  pointer-events: all;
  overflow: hidden;
  user-select: none;

  border-radius: 5px;

  padding: 3%;
  margin: 3% 0;

  font-family: Montserrat, sans-serif;
}

.podcastCollectionOverlay.background
{
  z-index: -1;
  position: fixed;

  opacity: 0;
  background-color: var(--active-overlay-holder-and-shadows);

  pointer-events: all;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.podcastCollectionOverlay.wrapper.active > .podcastCollectionOverlay.background
{
  opacity: 1;
}

.podcastCollectionOverlay.file
{
  grid-area: file;
}

.podcastCollectionOverlay.hide
{
  grid-area: hide;
}

.podcastCollectionOverlay.file,
.podcastCollectionOverlay.hide
{
  position: relative;

  min-width: 35px;
  max-width: 50px;
  width: 5%;
  height: fit-content;

  cursor: pointer;
}

.podcastCollectionOverlay.file:after,
.podcastCollectionOverlay.hide:after
{
  content: "";
  display: block;

  width: 100%;
  height: 0;

  padding-bottom: 100%;
}

.podcastCollectionOverlay.file > .icon,
.podcastCollectionOverlay.hide > .icon
{
  fill: var(--white-text);
  stroke: var(--white-text);
}

.podcastCollectionOverlay.file:hover > .icon,
.podcastCollectionOverlay.hide:hover > .icon
{
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.podcastCollectionOverlay.browse,
.podcastCollectionOverlay.downward
{
  position: absolute;
}

.podcastCollectionOverlay.searchBar
{
  grid-area: search;

  background-color: unset;

  color: var(--white-text);
  caret-color: var(--white-text);

  font-family: Montserrat, sans-serif;

  padding: 2px 0;
  margin: 10px 0;

  border: 0;
  border-bottom: 2px var(--search-border) solid;
}

.podcastCollectionOverlay.searchBar::placeholder
{
  color: var(--search-placeholder);
}

.podcastCollectionOverlay.searchBar:focus
{
  outline: 0;
}

.podcastCollection.container
{
  grid-area: collection;
}

.podcastCollection.itemWrapper
{
  position: relative;

  width: 100%;
  height: auto;

  margin-top: 8px;
}

.podcastCollection.itemWrapper:before
{
  content: "";
  display: block;

  width: 100%;
  padding-bottom: 16%;
}

.podcastCollection.itemContainer
{
  display: grid;
  position: absolute;

  grid-template-areas:
  "cover title"
  "button button";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 100% 100%;
  grid-column-gap: 20px;

  background-color: var(--white-background);
  color: var(--black-text);

  top: 0;
  width: 100%;
  height: 100%;

  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

.podcastCollection.cover
{
  grid-area: cover;

  background-size: cover;
  background-position: center;
}

.podcastCollection.title
{
  grid-area: title;

  display: flex;
  align-items: center;

  font-weight: 700;
}

.podcastCollection.button
{
  grid-area: button;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white-background);

  top: 0;

  font-weight: 600;
  text-transform: uppercase;

  transition-property: top;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.podcastCollection.itemWrapper:hover > .itemContainer > .podcastCollection.button
{
  top: -100%;
  color: var(--accent-color);
}

/* Font Sizes */

.podcastCollectionOverlay.searchBar
{
 font-size: calc(7px + 0.5vw + 0.5vh);
}

.podcastCollection.button
{
  font-size: calc(8px + 0.5vw + 0.5vh);
}

.podcastCollection.title
{
 font-size: calc(6px + 0.4vw + 0.4vh);
}

@media screen and (max-width: 600px)
{
  .podcastCollectionOverlay.searchBar
  {
    font-size: 12px;
  }

  .podcastCollection.button
  {
    font-size: 16px;
  }

  .podcastCollection.title
  {
    font-size: 10px;
  }
}

@media screen and (min-width: 1020px)
{
  .podcastCollectionOverlay.searchBar
  {
    font-size: 15px;
  }

  .podcastCollection.button
  {
    font-size: 14px;
  }

  .podcastCollection.title
  {
    font-size: 15px;
  }
}