#previousButton
{
  background-color: red;

  position: relative;
  
  top: 0px;
  left: 0px;
  width: 55px;
  height: 45px;
}

.previousButton1
{
  position: relative;

  background-color: white;
  
  top: 0px;
  left: 40px;
  width: 8px;
  height: 28px;
}

.previousButton2
{
  position: relative;

  background-color: transparent;

  top: 0px;
  left: 5px;
  width: 0px;
  height: 0px;

  border-style: solid;
  border-width: 14px 0px 14px 28px;
  border-color: transparent transparent transparent white;
}