.queue.playing.card
{
  grid-area: playing;

  position: relative;
  display: grid;

  grid-template-columns: 20% 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "cover artist" "cover title";
  grid-column-gap: 3%;

  background-color: var(--color-8);

  user-select: none;
  overflow: hidden;

  min-height: 42px;
  width: 97%;
  height: auto;

  padding-right: 3%;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.queue.playing.cover
{
  grid-area: cover;

  background-size: cover;
  background-position: center;

  transition-property: background-image;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.queue.playing.artist,
.queue.playing.title
{
  color: var(--color-4);

  white-space: pre-line;
  overflow: hidden;
}

.queue.playing.artist
{
  grid-area: artist;

  display: flex;
  align-items: flex-end;

  padding-top: 6px;
  padding-bottom: 3px;
}

.queue.playing.title
{
  grid-area: title;
  
  top: 50%;
  padding-bottom: 6px;

  font-weight: 700;
}

.queue.text
{
  grid-area: text;

  display: flex;
  align-items: flex-end;

  color: var(--color-4);

  user-select: none;

  font-family: Montserrat, sans-serif;
  font-weight: 900;

  padding-top: 9px;
}

.queue.tracks
{
  grid-area: tracks;

  overflow-x: hidden;
  overflow-y: hidden;
}

.queue.tracks:hover
{
  overflow-y: overlay;
}

.queueItem.container
{
  display: grid;

  grid-template-columns: 8% 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "index artist" "index title";

  background-color: transparent;

  overflow: hidden;
  user-select: none;

  width: 100%;
  height: auto;

  margin: 9px 0;

  font-family: Montserrat, sans-serif;
}

.queueItem.index
{
  grid-area: index;

  display: flex;
  align-items: center;

  font-weight: 700;
}

.queueItem.clear
{
  grid-template-columns: 0 100%;

  margin: 0;
}

.queueItem.artist
{
  grid-area: artist;

  display: flex;
  align-items: flex-end;

  padding-bottom: 3px;
}

.queueItem.title
{
  grid-area: title;

  font-weight: 900;
}

.queueItem.index,
.queueItem.artist,
.queueItem.title
{
  white-space: pre-line;

  color: var(--color-4);

  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.queueItem.container.played > .index,
.queueItem.container.played > .artist,
.queueItem.container.played > .title
{
  color: var(--holder-2);
}

/* Font Sizes */

.queueItem.artist,
.queue.playing.artist
{
  font-size: calc(4px + 0.4vw + 0.2vh);
}

.queueItem.title,
.queue.playing.title
{
  font-size: calc(5px + 0.35vw + 0.4vh);
}

.queue.text
{
  font-size: calc(5px + 0.4vw + 0.2vh);
}

.queueItem.index
{
  font-size: calc(5px + 0.65vw + 0.3vh);
}

@media screen and (max-width: 800px)
{
  .queueItem.artist,
  .queue.playing.artist
  {
    font-size: calc(5px + 0.6vw + 0.2vh);
  }

  .queueItem.title,
  .queue.playing.title
  {
    font-size: calc(5px + 0.6vw + 0.4vh);
  }

  .queue.text
  {
    font-size: calc(5px + 0.55vw + 0.3vh);
  }

  .queueItem.index
  {
    font-size: calc(5px + 0.85vw + 0.7vh);
  }
}

@media screen and (max-width: 600px)
{
  .queueItem.artist,
  .queue.playing.artist
  {
    font-size: 9px;
  }

  .queueItem.title,
  .queue.playing.title
  {
    font-size: 9px;
  }

  .queue.text
  {
    font-size: 9px;
  }

  .queueItem.index
  {
    font-size: 13px;
  }
}

@media screen and (min-width: 1020px)
{
  .queueItem.artist,
  .queue.playing.artist
  {
    font-size: 10px;
  }

  .queueItem.title,
  .queue.playing.title
  {
    font-size: 11px;
  }

  .queue.text
  {
    font-size: 11px;
  }

  .queueItem.index
  {
    font-size: 15px;
  }
}
