.queue.playing.card
{
  grid-area: playing;

  position: relative;
  display: grid;

  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "cover artist" "cover title";

  background-color: purple;

  user-select: none;
  overflow: hidden;

  width: 100%;
  height: 9vh;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.queue.playing.cover
{
  grid-area: cover;

  background-size: cover;
  background-position: center;
}

.queue.playing.artist,
.queue.playing.title
{
  color: var(--color-4);

  white-space: pre-line;
  overflow: hidden;

  padding: 0px 1.5%;
}

.queue.playing.artist
{
  grid-area: artist;

  display: flex;
  align-items: flex-end;
}

.queue.playing.title
{
  grid-area: title;
  top: 50%;

  font-weight: 700;
}

.queue.text
{
  grid-area: text;

  display: flex;
  align-items: flex-end;

  color: var(--color-4);

  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

.queue.tracks
{
  grid-area: tracks;
}

.queueItem.container
{
  display: grid;

  grid-template-columns: 8% 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "index artist" "index title";

  background-color: red;

  overflow: hidden;
  user-select: none;

  width: 100%;
  height: 13%;
  margin: 1% 0px;

  font-family: Montserrat, sans-serif;
}

.queueItem.index
{
  grid-area: index;

  display: flex;
  align-items: center;

  color: var(--color-4);

  font-weight: 700;
}

.queueItem.artist
{
  grid-area: artist;

  display: flex;
  align-items: flex-end;

  white-space: pre-line;

  color: var(--color-4);
}

.queueItem.title
{
  grid-area: title;

  white-space: pre-line;

  color: var(--color-4);
  font-weight: 900;
}

/* Font Sizes */

.queueItem.artist,
.queue.playing.artist
{
  font-size: calc(4px + 0.4vw + 0.2vh);
}

.queueItem.title,
.queue.playing.title
{
  font-size: calc(5px + 0.35vw + 0.4vh);
}

.queue.text
{
  font-size: calc(5px + 0.4vw + 0.2vh);
}

.queueItem.index
{
  font-size: calc(5px + 0.65vw + 0.3vh);
}

@media screen and (max-width: 800px)
{
  .queueItem.artist,
  .queue.playing.artist
  {
    font-size: calc(5px + 0.6vw + 0.2vh);
  }

  .queueItem.title,
  .queue.playing.title
  {
    font-size: calc(5px + 0.6vw + 0.4vh);
  }

  .queue.text
  {
    font-size: calc(5px + 0.55vw + 0.3vh);
  }

  .queueItem.index
  {
    font-size: calc(5px + 0.85vw + 0.7vh);
  }
}

@media screen and (max-width: 600px)
{
  .queueItem.artist,
  .queue.playing.artist
  {
    font-size: 9px;
  }

  .queueItem.title,
  .queue.playing.title
  {
    font-size: 9px;
  }

  .queue.text
  {
    font-size: 9px;
  }

  .queueItem.index
  {
    font-size: 13px;
  }
}

@media screen and (min-width: 1020px)
{
  .queueItem.artist,
  .queue.playing.artist
  {
    font-size: 11px;
  }

  .queueItem.title,
  .queue.playing.title
  {
    font-size: 12px;
  }

  .queue.text
  {
    font-size: 11px;
  }

  .queueItem.index
  {
    font-size: 15px;
  }
}
