#repeatButton
{
  background-color: red;

  position: relative;
  
  top: 0px;
  left: 0px;
  width: 55px;
  height: 48px;
}

.thisSong::after
{
  content: "1";

  color: white;
  position: relative;

  top: -76px;
  left: 23px;

  font-family: Oxygen, sans-serif;
  font-weight: 900;
  font-size: 16px;
}

#repeatButtonArrow1
{
  background-color: transparent;

  position: relative;

  top: 0px;
  left: 0px;
  width: 55px;
  height: 48px;
}

#repeatButtonArrow2
{
  background-color: transparent;

  position: relative;

  top: -42px;
  left: -2px;
  width: 55px;
  height: 48px;

  transform: rotateZ(180deg);
}

.repeatArrow1
{
  position: relative;
  background-color: transparent;
  top: 5px;
  left: 33px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 0px 8px 15px;
  border-color: transparent transparent transparent white;
}

.repeatArrow2
{
  position: relative;
  top: -5px;
  left: 5px;
  width: 28px;
  height: 5px;
  background-color: white;
}

.repeatArrow3
{
  position: relative;
  top: -5px;
  left: 5px;
  width: 5px;
  height: 11px;
  background-color: white;
}
