#shuffleButton
{
  background-color: red;

  position: relative;
  
  top: 0px;
  left: 0px;
  width: 55px;
  height: 48px;
}

#shuffleButtonArrow1
{
  background-color: transparent;

  position: relative;

  top: 15px;
  left: 15px;
  width: 55px;
  height: 48px;

  transform: rotateZ(-33deg);
}

#shuffleButtonArrow2
{
  background-color: transparent;

  position: relative;

  top: -23px;
  left: -8px;
  width: 55px;
  height: 48px;
  
  transform: rotateZ(33deg);
}

.shuffleArrow1
{
  background-color: white;

  position: relative;

  top: 1px;
  left: 0px;
  width: 33px;
  height: 4px;
}

.shuffleArrow2
{
  position: relative;
  background-color: transparent;

  top: -9px;
  left: 33px;
  width: 0px;
  height: 0px;
  
  border-style: solid;
  border-width: 7px 0px 8px 15px;
  border-color: transparent transparent transparent white;
}
