.contextMenu.wrapper
{
  z-index: 99;
  position: absolute;

  max-width: 114px;
  width: max-content;

  opacity: 1;
  border-radius: 5px;

  padding: 10px;
}

.contextMenu.container
{
  max-height: 163px;
  width: 100%;
  height: auto;

  overflow-x: hidden;
  overflow-y: scroll;
}

.contextMenu.wrapper,
.tippy-backdrop, .tippy-tooltip
{
  background-color: var(--color-5);
}

.tippy-popper[x-placement^='top'] .tippy-arrow
{
  border-top-color: var(--color-5);
}

.tippy-popper[x-placement^='bottom'] .tippy-arrow
{
  border-bottom-color: var(--color-5);
}

.tippy-popper[x-placement^='left'] .tippy-arrow
{
  border-left-color: var(--color-5);
}

.tippy-popper[x-placement^='right'] .tippy-arrow
{
  border-right-color: var(--color-5);
}

.contextMenu.item
{
  display: flex;

  cursor: pointer;
  padding-right: 5px;
}

.contextMenu.item:hover
{
  color: var(--color-7);
}

.contextMenu.item ~ .contextMenu.item
{
  margin-top: 3px;
}

.contextMenu.container,
.tippy-content
{
  user-select: none;

  color: var(--color-4);
  
  font-family: Montserrat, sans-serif;
  font-size: calc(6px + 0.55vw + 0.3vh);
  font-weight: 700;
}

@media screen and (max-width: 600px)
{
  .contextMenu.container,
  .tippy-content
  {
    font-size: 12px;
  }
}

@media screen and (min-width: 1020px)
{
  .contextMenu.container,
  .tippy-content
  {
    font-size: 14px;
  }
}