.tippy-backdrop, .tippy-tooltip
{
  background-color: var(--color-5);
}

.tippy-popper[x-placement^='top'] .tippy-arrow
{
  border-top-color: var(--color-5);
}

.tippy-popper[x-placement^='bottom'] .tippy-arrow
{
  border-bottom-color: var(--color-5);
}

.tippy-popper[x-placement^='left'] .tippy-arrow
{
  border-left-color: var(--color-5);
}

.tippy-popper[x-placement^='right'] .tippy-arrow
{
  border-right-color: var(--color-5);
}

.tippy-content
{
  user-select: none;
  
  font-family: Montserrat, sans-serif;
  font-size: calc(6px + 0.55vw + 0.3vh);
  font-weight: 700;
}