.tracks.wrapper
{
  display: grid;

  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "container map";

  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.tracks.wrapper:hover
{
  overflow-y: overlay;
}

.tracks.container
{
  grid-area: container;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: auto;

  margin-bottom: 10px;
}


.tracks.charactersWrapper
{
  grid-area: map;

  display: flex;
  align-items: flex-start;

  width: auto;
  height: auto;

  margin-right: calc(0.5vw + 12px);
}

.tracks.charactersContainer
{
  display: grid;
  position: sticky;
  
  top: 0;

  width: auto;
  height: auto;

  font-family: Montserrat, sans-serif;

  padding: 15px 0;
}

.tracks.characterNavigator
{
  color: var(--color-5);
  
  cursor: pointer;
  user-select: none;

  padding: 1px;
}

.tracks.characterNavigator:hover,
.tracks.characterNavigator.selected
{
  color: var(--color-4);
}

.tracks.characterObserver
{
  user-select: none;

  font-weight: 700;

  padding: 5px 5px 5px 10px;
}

.tracksGroup.wrapper
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: auto;
}

.tracksGroup.container
{
  position: sticky;
  background-color: var(--color-4);

  top: 0;

  max-width: 600px;
  width: 85%;
  height: fit-content;

  overflow: hidden;
  border-radius: 5px;
  
  font-family: Montserrat, sans-serif;
}

.track.wrapper
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  border-radius: 5px;
  
  width: 100%;
  height: auto;
}

.tracksGroup.container > .track.wrapper
{
  overflow: visible;
  border-radius: 0px;
}

.track.container
{
  position: relative;
  display: grid;

  grid-template-columns: 20% 78.5%;
  grid-template-rows: 100%;
  grid-template-areas: "cover card";

  cursor: pointer;
  overflow: hidden;
  user-select: none;

  width: 100%;
  height: auto;

  box-shadow: 0px 0px 0px 0px var(--holder-2);

  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.track.wrapper:not(.placeholder):hover > .container
{
  z-index: 1;

  box-shadow: 0px 0px 14px -2px var(--holder-1);
}

.track.cover
{
  grid-area: cover;

  position: relative;
  grid-area: cover;

  background-size: cover;
  background-position: center;

  transform: scale(1.05);

  width: 100%;

  transition-property: width, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.track.wrapper:not(.placeholder):hover > .container > .track.cover
{
  width: 130%;
  transform: scale(1.05);
}

.track.cover:after
{
  content: "";
  display: block;

  background: linear-gradient(73deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);

  width: 105%;
  height: 105%;
}

.track.wrapper:not(.placeholder):hover > .container > .track.cover:after
{
  background: linear-gradient(73deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
}

.track.card
{
  grid-area: card;

  position: relative;
  display: grid;

  grid-template-columns: 1fr auto;
  grid-template-rows: 50% 50%;
  grid-template-areas: "artist duration" "title duration";

  grid-column-gap: 3px;
  grid-row-gap: 1px;

  left: 0;
  width: 95%;
  
  margin: 3%;

  transition-property: left, width;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.tracks.characterObserver,
.track.title,
.track.duration
{
  color: var(--color-5);

  white-space: pre-line;
  overflow: hidden;
}

.track.artist
{
  grid-area: artist;
}

.track.artistLink
{
  color: var(--color-3);

  white-space: pre-line;
}

.track.artistLink:hover
{
  text-decoration: underline;
}

.track.title
{
  grid-area: title;

  font-weight: 700;
}

.track.duration
{
  grid-area: duration;

  display: flex;
  align-items: center;

  width: fit-content;

  font-weight: 700;
}

/* Content Placeholders */

.track.placeholder > .container > .cover,
.track.placeholder > .container > .card > .artist,
.track.placeholder > .container > .card > .title,
.track.placeholder > .container > .card > .duration
{
  background-color: var(--color-9);

  animation-name: placeholder-animation;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.track.placeholder > .container > .cover
{
  background-image: url(../../../missing.png);
}

.track.placeholder > .container > .card > .artist,
.track.placeholder > .container > .card > .title,
.track.placeholder > .container > .card > .duration
{
  width: 45%;
  height: 2vh;

  padding: 0;
  margin: 0;
}

.track.placeholder > .container > .card > .title
{
  width: 70%;
  margin-top: 3px;
}

.track.placeholder > .container > .card > .duration
{
  width: 32px;
}

.track.placeholder > .container
{
  cursor: default;
}

.track.placeholder > .container:after
{
  z-index: 2;

  content: "";
  display: block;

  position: absolute;

  top: 0;
  width: 100%;
  height: 100%;
}

/* Font Sizes */

.tracks.characterNavigator,
.tracks.characterObserver
{
  font-size: calc(9px + 0.45vw + 0.5vh);
}

.track.artist,
.track.title,
.track.duration
{
  font-size: calc(5px + 0.35vw + 0.4vh);
}

@media screen and (max-width: 800px)
{
  .tracks.characterNavigator,
  .tracks.characterObserver
  {
    font-size: 12px;
  }

  .track.artist,
  .track.title,
  .track.duration
  {
    font-size: 9px;
  }
}

@media screen and (min-width: 1020px)
{
  .tracks.characterNavigator,
  .tracks.characterObserver
  {
    font-size: 16px;
  }

  .track.artist,
  .track.title,
  .track.duration
  {
    font-size: 11px;
  }
}
