doctype html

mixin icon(name)
  svg(class="icon")
    use(xlink:href=`./icons.svg#${name}`)

html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(http-equiv='Content-Security-Policy' content="script-src 'unsafe-inline'")

    link(rel='stylesheet' href='./renderer/styles/albums.css')
    link(rel='stylesheet' href='./renderer/styles/body.css')
    link(rel='stylesheet' href='./renderer/styles/controlBar.css')
    link(rel='stylesheet' href='./renderer/styles/controls.css')
    link(rel='stylesheet' href='./renderer/styles/fonts.css')
    link(rel='stylesheet' href='./renderer/styles/menu.css')
    link(rel='stylesheet' href='./renderer/styles/queue.css')
    link(rel='stylesheet' href='./renderer/styles/tippy.css')

  body(class='noMotion')
    img(src='../test-materials/2nd page.png').design

    .menu
      .menuItem.wrapper.playing
        .menuItem.container(data-tippy="Playing Now", data-tippy-arrow="true")
          +icon('playing')
      .menuItem.wrapper.pages.selected
        .menuItem.container
          +icon('albums')
      .menuItem.wrapper.podcasts
        .menuItem.container(data-tippy="Podcasts", data-tippy-arrow="true")
          +icon('podcast')
      .menuItem.wrapper.options
        .menuItem.container(data-tippy="Options", data-tippy-arrow="true")
          +icon('settings')
        
    .page.wrapper
      .page.container
        .pageItem.albums.wrapper
          .pageItem.albums.container
            .pageItem.albums.cover(style='background-image: url(../test-materials/Dina2.png);')
            .pageItem.albums.card
              .pageItem.albums.title Slumber
              .pageItem.albums.text by 
              .pageItem.albums.artist Dina El-Wedidi
        //- .pageItem.albums.wrapper.placeholder
        //-   .pageItem.albums.container
        //-     .pageItem.albums.cover
        //-     .pageItem.albums.card
        //-       .pageItem.albums.title
        //-       .pageItem.albums.text
        //-       .pageItem.albums.artist
        //- //- .pageItem.albums.wrapper
        //-   .pageItem.albums.container
        //-     .pageItem.albums.cover(style='background-image: url(../test-materials/Maryam1.jpg);')
        //-     .pageItem.albums.card
        //-       .pageItem.albums.title Ana Mesh Baghanny
        //-       .pageItem.albums.text by 
        //-       .pageItem.albums.artist Maryam Saleh
        //- .pageItem.albums.wrapper
        //-   .pageItem.albums.container
        //-     .pageItem.albums.cover(style='background-image: url(../test-materials/Ramy1.png);')
        //-     .pageItem.albums.card
        //-       .pageItem.albums.title Mamnoua
        //-       .pageItem.albums.text by 
        //-       .pageItem.albums.artist Ramy Essam
        //- .pageItem.albums.wrapper
        //-   .pageItem.albums.container
        //-     .pageItem.albums.cover(style='background-image: url(../test-materials/Dina1.jpeg);')
        //-     .pageItem.albums.card
        //-       .pageItem.albums.title Turning Back
        //-       .pageItem.albums.text by 
        //-       .pageItem.albums.artist Dina El-Wedidi
    
    .controlBar
      .controls.container
        .seekBar.played
        .seekBar.remaining
        .playButton.paused
          .pause(data-tippy="Pause")
            +icon('pause')
          .play(data-tippy="Play")
            +icon('play')
        .previousButton(data-tippy="Previous Track")
          +icon('next')
        .nextButton(data-tippy="Next Track")
          +icon('next')
        .rewindButton
          +icon('forward')
          .rewindTime 00
        .forwardButton
          +icon('forward')
          .forwardTime 00
        .shuffleButton.shuffled
          .shuffle(data-tippy="Shuffled queue")
            +icon('shuffle')
          .linear(data-tippy="Normal queue")
            +icon('linear')
        .repeatButton.looping
          .loop(data-tippy="Looping the queue")
            +icon('loop')
          .repeat(data-tippy="Repeating the track")
            +icon('repeat')
          .singular(data-tippy="Playing the queue once")
            +icon('singular')
        .volumeButton
          +icon('volume')
      .queue.container
        .queue.playing.card
          .queue.playing.cover.wrapper
            .queue.playing.cover.container
              .queue.playing.cover.content(style='background-image: url(../test-materials/Dina1.jpeg);')
          .queue.playing.artist Dina El-Wedidi
          .queue.playing.title Dawayer (Circles) [ft. Mazaher]
        .queue.text Up Next
        .queue.tracks
  
  script.
    window.onerror = function(message, url, line, column, error)
    {
      require('electron').ipcRenderer.send('rendererError', error.stack || error);
    };
    require('./renderer/renderer.js');