doctype html

mixin icon(name)
  svg(class="icon")
    use(xlink:href=`../build/icons.svg#${name}`)

html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(http-equiv='Content-Security-Policy' content="script-src 'unsafe-inline'")

    link(rel='stylesheet' href='./renderer/styles/albums.css')
    link(rel='stylesheet' href='./renderer/styles/body.css')
    link(rel='stylesheet' href='./renderer/styles/controlBar.css')
    link(rel='stylesheet' href='./renderer/styles/fonts.css')
    link(rel='stylesheet' href='./renderer/styles/menu.css')

  body(class='noMotion')
    //- img(src='../build/2nd page.png').design

    .menu
      .menuItem.wrapper.expanded.selected
        .menuItem.container
        
    .page.wrapper
      .page.container
        .pageItem.albums.wrapper
          .pageItem.albums.container
            .pageItem.albums.cover(style='background-image: url(../build/Dina2.png);')
            .pageItem.albums.card
              .pageItem.albums.title Slumber
              .pageItem.albums.text by 
              .pageItem.albums.artist Dina El-Wedidi
    
    .controlBar
      .controls.container
        .seekBar.played
        .seekBar.remaining
        .playButton.paused
          .pause
            +icon('pause')
          .play
            +icon('play')
      .queue.container
  
  script.
    window.onerror = function(message, url, line, column, error)
    {
      require('electron').ipcRenderer.send('rendererError', error.stack || error);
    };
    require('./renderer/renderer.js');