doctype html

mixin icon(name)
  svg.icon
    use(xlink:href=`./icons.svg#${name}`)

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(http-equiv='Content-Security-Policy' content=`script-src 'unsafe-inline'`)

    link(rel='stylesheet' href='./renderer/styles/albums.css')
    link(rel='stylesheet' href='./renderer/styles/artists.css')
    link(rel='stylesheet' href='./renderer/styles/body.css')
    link(rel='stylesheet' href='./renderer/styles/controlBar.css')
    link(rel='stylesheet' href='./renderer/styles/controls.css')
    link(rel='stylesheet' href='./renderer/styles/fonts.css')
    link(rel='stylesheet' href='./renderer/styles/menu.css')
    link(rel='stylesheet' href='./renderer/styles/options.css')
    link(rel='stylesheet' href='./renderer/styles/queue.css')
    link(rel='stylesheet' href='./renderer/styles/tippy.css')
    link(rel='stylesheet' href='./renderer/styles/tracks.css')

  body.fastforward

    .controlBar.container
      .controls.container
        .seekBar.container
          .seekBar.played
          .seekBar.remaining
        .playButton.paused
          .pause(data-tippy='Pause')
            +icon('pause')
          .play(data-tippy='Pause')
            +icon('play')
        .previousButton(data-tippy='Previous Track')
          +icon('next')
        .nextButton(data-tippy='Next Track')
          +icon('next')
        .rewindButton
          +icon('forward')
          .rewindTime
        .forwardButton
          +icon('forward')
          .forwardTime
        .shuffleButton.shuffled
          .shuffle(data-tippy='Shuffled queue')
            +icon('shuffle')
          .linear(data-tippy='Normal queue')
            +icon('linear')
        .repeatButton.looping
          .loop(data-tippy='Looping the queue')
            +icon('loop')
          .repeat(data-tippy='Repeating the track')
            +icon('repeat')
          .singular(data-tippy='Playing the queue once')
            +icon('singular')
        .volumeButton
          .normal
            +icon('volume')
          .mute
            +icon('mute')
      .queue.container
        .queue.playing.card
          .queue.playing.cover
          .queue.playing.artist Dina El-Wedidi
          .queue.playing.title Dawayer (Circles) [ft. Mazaher]
        .queue.text Up Next
        .queue.tracks
          .queueItem.container.played
            .queueItem.index -1
            .queueItem.artist Dina El-Wedidi
            .queueItem.title Yohadethoni El Shagar (Trees Adress Me)
      .controlBar.background

    .menu.container
      .menuItem.wrapper
        .menuItem.container
          +icon('playing')

      .menuItem.wrapper.selected
        .menuItem.container
          +icon('albums')
          +icon('music')
          +icon('artist')

      .menuItem.wrapper
        .menuItem.container
          +icon('settings')

    .playing.background
    .pages.background

    .pages.container
      .page.playing

      .page.local
        .page.extended.local
          .albums.wrapper
            .albums.container
          .tracks.wrapper
            .tracks.container
          .artists.wrapper
            .artists.container

      .page.options
        .options.wrapper

          .options.container
            .optionsItem.directories
              .option.title Audio Directories
              .option.directories.buttons
                .option.directories.button.add Add
                .option.directories.button.rescan Rescan
            .optionsItem.controls
              .option.title Controls
              .option.text Rewind
              input.option.controls.rewind(type='number')
              .option.text Forward
              input.option.controls.forward(type='number')
              .option.controls.button.apply.clean Apply

          .options.container
            .optionsItem.tray
              .option.applied Changes are applied after the app is restarted*
              .option.title Tray
              .option.tray.buttons
                .option.tray.button.true Enabled
                .option.tray.button.false Disabled
              .option.title Tray Color
              .option.tray.buttons
                .option.tray.button.dark Dark
                .option.tray.button.light Light
            .optionsItem.about
              .option.title About

    .submenuContainer.playing
      .submenuButton.playing Playing Now

    .submenuContainer.local
      .submenuButton.albums Albums
      .submenuButton.tracks Tracks
      .submenuButton.artists Artists

    .submenuContainer.options
      .submenuButton.options Options

    .volumeBar.container
      .volumeBar.played
      .volumeBar.remaining

  script.
    window.onerror = function(message, url, line, column, error)
    {
      require('electron').ipcRenderer.send('rendererError', error.stack || error);
    };
    require('./renderer/renderer.js');
