doctype html

mixin icon(name)
  svg.icon
    use(xlink:href=`./icons.svg#${name}`)

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(http-equiv='Content-Security-Policy' content=`script-src 'unsafe-inline'`)

    link(rel='stylesheet' href='./renderer/styles/albums.css')
    link(rel='stylesheet' href='./renderer/styles/artistOverlay.css')
    link(rel='stylesheet' href='./renderer/styles/artists.css')
    link(rel='stylesheet' href='./renderer/styles/body.css')
    link(rel='stylesheet' href='./renderer/styles/controlBar.css')
    link(rel='stylesheet' href='./renderer/styles/controls.css')
    link(rel='stylesheet' href='./renderer/styles/fonts.css')
    link(rel='stylesheet' href='./renderer/styles/menu.css')
    link(rel='stylesheet' href='./renderer/styles/options.css')
    link(rel='stylesheet' href='./renderer/styles/podcastCollection.css')
    link(rel='stylesheet' href='./renderer/styles/podcastOverlay.css')
    link(rel='stylesheet' href='./renderer/styles/podcasts.css')
    link(rel='stylesheet' href='./renderer/styles/queue.css')
    link(rel='stylesheet' href='./renderer/styles/tippy.css')
    link(rel='stylesheet' href='./renderer/styles/tracks.css')

  body.defaultMode.fastforward

    .controlBar.container
      .controls.container
        .seekBar.container
          .seekBar.indicator
          .seekBar.main
        .playButton.paused
          .pause(data-tippy='Pause')
            +icon('pause')
          .play(data-tippy='Pause')
            +icon('play')
        .previousButton(data-tippy='Previous Track')
          +icon('next')
        .nextButton(data-tippy='Next Track')
          +icon('next')
        .rewindButton
          +icon('skip')
          .rewindTime
        .skipButton
          +icon('skip')
          .skipTime
        .shuffleButton.shuffled
          .shuffle(data-tippy='Shuffled queue')
            +icon('shuffle')
          .linear(data-tippy='Normal queue')
            +icon('linear')
        .repeatButton.looping
          .loop(data-tippy='Looping the queue')
            +icon('loop')
          .repeat(data-tippy='Repeating the track')
            +icon('repeat')
          .singular(data-tippy='Playing the queue once')
            +icon('singular')
        .volumeButton
          .normal
            +icon('volume')
          .mute
            +icon('mute')
      .queue.container
        .queue.playing.card(style={display: 'none'})
          .queue.playing.cover
          .queue.playing.artist
          .queue.playing.title
        .queue.textContainer
          .queue.upNext Up Next
          .queue.clear.empty Clear
        .queue.itemsWrapper
          .queue.itemsContainer
      .controlBar.background

    .menu.container
      .menuItem.wrapper
        .menuItem.container
          +icon('playing')

      .menuItem.wrapper
        .menuItem.container
          +icon('albums')
          +icon('music')
          +icon('artist')

      .menuItem.wrapper
        .menuItem.container
          +icon('podcasts')

      .menuItem.wrapper
        .menuItem.container
          +icon('options')

    .playing.background
    .pages.background

    .pages.container
      .page.playing

      .page.local
        .page.extended.local
          .albums.wrapper
            .albums.container
          .tracks.wrapper
            .tracks.container
            .tracks.charactersWrapper
              .tracks.charactersContainer
          .artists.wrapper
            .artists.container

      .page.podcasts
        .podcasts.wrapper
          .podcasts.container

      .page.options
        .options.wrapper
          .options.container
            .optionsItem.localAudio
              .option.title Local Audio Directories
              .option.localAudio.container
              .option.localAudio.buttons
                .option.button.add Add
                .option.button.rescan Rescan
            .optionsItem.podcasts
              .option.title Podcasts
              .option.podcasts.buttons.state
                .option.podcasts.button.true Enabled
                .option.podcasts.button.false Disabled
              .option.title Collection
              .option.podcasts.buttons.collection
                .option.button.manage Manage Podcasts
            .optionsItem.controls
              .option.title Controls
              .option.text Rewind
              input.option.controls.rewind(type='number')
              .option.text Skip
              input.option.controls.skip(type='number')
              .option.controls.button.apply.clean Apply

          .options.container
            .optionsItem.theming
              .option.title Theming
              .option.theming.buttons
                .option.theming.button.default Default
                .option.theming.button.dark Dark
            .optionsItem.tray
              .option.applied Changes are applied after the app is restarted
              .option.title Tray
              .option.tray.buttons.state
                .option.tray.button.true Enabled
                .option.tray.button.false Disabled
              .option.title Color
              .option.tray.buttons.color
                .option.tray.button.dark Dark
                .option.tray.button.black Black
                .option.tray.button.light Light
            .optionsItem.about
              .option.title About

    .submenuContainer.playing
      .submenuButton.playing Now Playing

    .submenuContainer.local
      .submenuButton.albums Albums
      .submenuButton.tracks Tracks
      .submenuButton.artists Artists

    .submenuContainer.podcasts
      .submenuButton.podcasts Podcasts

    .submenuContainer.options
      .submenuButton.options Options

    .volumeBar.container

  script.
    window.onerror = function(message, url, line, column, error)
    {
      require('electron').ipcRenderer.send('rendererError', error.stack || error);
    };
    require('./renderer/renderer.js');
