doctype html

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Security-Policy' content="script-src 'unsafe-inline'")

  link(rel='stylesheet' href='./renderer/styles/body.css')
  link(rel='stylesheet' href='./renderer/styles/fonts.css')

body(class='noMotion')
    p HELLO WORLD

script.
  window.onerror = function(message, url, line, column, error)
  {
    require('electron').ipcRenderer.send('rendererError', error.stack || error);
  };
  require('./renderer/renderer.js');